@define-color selected-text #eddcff;
@define-color text #c792ff;
@define-color base #120621;
@define-color border #9d4edd;
@define-color foreground #c792ff;
@define-color background #120621;

window {
    background-color: transparent;
    color: @text;
    border: none;
    padding: 0;
    box-shadow: none;
}

/* Walker Window Border */
window .box-wrapper {
    border-radius: 16px;
    border: 2px solid alpha(@border, 0.7);  
    padding: 18px 22px;
    background: @base;
    background-clip: padding-box;
    box-shadow: 2px 2px 18px rgba(0, 0, 0, 1);
}
